@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hover-btn {
  background-color: black;
  transition-duration: 2000s;
  color: white;
}
.imgHeightforProduct {
  /* height: 10rem; */
}
.z-100 {
  z-index: 100;
}
.modal-open {
  overflow: hidden;
}
