@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-btn{
    background-color: black;
    transition-duration: 2000s;
    color: white;

}
.imgHeightforProduct{
    /* height: 10rem; */
}