@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
}
.hover-btn {
  background-color: black;
  transition-duration: 2000s;
  color: white;
}
.imgHeightforProduct {
  /* height: 10rem; */
}
.z-100 {
  z-index: 100;
}
